<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <section>
            <img src="./img/logo-mercado-liebre.svg" alt="Logo">
            <div class="input"><input class="barraborde" placeholder="Buscar productos, marcas"> <i class="fa fa-search"></i></div>
            <p> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
        
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>

        </nav>
        <div class="burguer-menu">
            <i class="fa fa-bars burger"></i>
        </div>

    </header>
    <main>
        <form>
            <label for="nombreUsuario">Nombre de usuari@:</label>
            <input type="text" name="usuario" id="nombreUsuario">

            <label for="contraseña">Contraseña:</label>
            <input type="password" name="contraseña" id="contraseña">

            <button type="submit"><a href="/">Enviar</a></button>
        </form>
        
    </main>
    <footer>
    <div>
        <div class="iconoFooter"><i class="fa fa-credit-card fa-2x"></i> </div>
        <h4 class="h4footer">Paga con tarjeta o en efectivo</h4>
        <p class="pfooter">Con Mercado Liebre Cash,tenés cuotas sin interes con tarjeta o efectivo en puntos de pago.¡y siempre es seguro!</p>
    </div>
    <div>
        <div class="iconoFooter"><i class="fa fa-gift fa-2x"></i> </div>
        <h4 class="h4footer">Envio gratis desde $2.500</h4>
        <p class="pfooter">Solo por estar registrad@ en Mercado Liebre tenés envios gratis en miles de productos.Es un beneficio de Mercado Puntos</p>
    </div>
    <div>
        
        <div class="iconoFooter"><i class="fa fa-user-secret fa-2x"></i> </div>
        <h4 class="h4footer">Seguridad, de principio a fin!</h4>
        <p class="pfooter">¿No te gusta?¡Devolvelo!En Mercado Liebre,no hay nada que no puedas hacer,porque estas siempre protegid@</p>
    </div>
    <div class="pcopy"><p>Copyright 1999-2020 Mercado Liebre S.R.L</p></div>

</footer>
    
</body>
</html>