body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.barraborde {
    width: 90%;
    border: none;
    font-size: 10px;
}

.lupa {
    width: 10%;
    align-self: center;
}

h3 {
    font-size: 24px;
}

header {
    background-color: #EAC926;
    padding: 15px;
}

header section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


header img{
    width: 47%;
}

.input {
    display: flex;
    position: relative;
    background-color: #FFF;
    font-size: 12px;
    border: none;
    color: darkgrey;
    box-sizing: border-box;
    width: 47%;
    height: 20px;
    overflow: auto;
    border-radius: 5px;
}

header nav {
    display:flex;
    justify-content: center;
    font-size: 12px;
    display: none;

}


header ul li  {
    list-style-type: none;
    
}

header ul li a {
    text-decoration: none;
    color: black;
    
}

div.burguer-menu i {
    background-color: #0044AA ;
    border-radius: 5px ;
    display: block;
    color: #FFF;
    font-size: 30px;
    height: 30px;
    width: 30px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    margin: auto
    
}

body header section p {
    width: 100%;
    text-align: center;
}

.banner {
    width: 100%;
}

 body main {
    margin:auto;
    width: 90vw;
    
}
/*pagina login.html👇🔽🔽*/
body main form {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;

}

 body main form input{       
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    font-size: 13px;
}

body main form button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #3983f1;
    font-size: 13px;
    color:#FFF;
    margin: 10px;
    transition: background-color
}

body main form button:hover {
    background-color: #0022AA;
}

body main form button a {
    font-size: 13px;
    color:#FFF;
    text-decoration-line: none;
}

body main form label.formulario {
    display: flex;
    align-self: flex-start;
    font-size: 13px;
    font-weight: bold;
}

.radioB {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
}
div.intereses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
} 

.span {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
    
    
}

label.checkbox {
    font-size: 13px;

}

.inputcheck {
    width: 16px;
    height: 16px;
}



.fotoU {
    
    font-size: 13px;

}

/*pagina login.html/register.html☝️🔝*/

body main section {
    padding: 15px;
}

.productos {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

body main section article {
    display: block;
    margin: 15px;
    padding: 2px;  
    background-color: #FFF;
    flex-grow: 0.25;
    transition: all 1s;
}

 body main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    
}

body main section article img {
    display: flex;
    justify-content: space-between;  
    margin: auto;
    
}



body main  section article div {
    display: flex;
    flex-direction: row;
    border-top: solid 1px #ebebeb;
    background-color: white;
    position: relative;
    align-items: flex-start;
    justify-content: space-around;
}

.icarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #39b54a;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: #39b54a;
    position: absolute;
    top: -14px;
    right: 10px;
    transition: all 1s;
}

.icarrito:hover {
    transform: rotate(-90deg)
}

h5 {
    font-size: 14px;
    line-height: 0px;
}

.letraInv {
    color: #666666;
    opacity: 0%;
    transition: all 1s;
}

.letraInv:hover {
    opacity: 100%; ;   /*solución provisional*/
}

.descuento {
    color:#39b54a;

}

footer div {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.iconoFooter{
    display: flex;
    justify-content: center;
    color: #1259c3;
    position: relative;
    bottom: -40px;
    transition: color, 0.5s;
}

.pcopy {
    text-align: left;
    font-size: 10px;
}

.h4footer {
    text-align: center;
    position: relative;
    bottom: -17px;
    
    
}

.pfooter {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    max-width: 250px;
    margin-top: 0%;
}

@media (min-width: 361px) {
    body header section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    header div.input {
        width: 32%;
        height: 20px;
    }

    body header section p {
        font-size: 12px;
        width: 20%;
    }

    body header section div {
        width: 15%;
    }

    header ul li a {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    body header section img {
        width: 35%;
    }

    header nav {
        display: flex;
        
    }
   
    ul {
        display: flex;
        flex-grow: 0.5;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    li {
        display: flex;
        flex-grow: 0.5;
        font-size: 9px;
    }

    div.burguer-menu i {
        display: none;
    }
    

    main section article img {
        display: flex;
        justify-content: space-around;
        width: 100px
    }

    h5 {
        font-size: 12px;
    }
    
    .letraInv {
        font-size: 12px;
    }
    .productos {
        display: flex;
        
    }
}

@media (min-width: 769px){
    li {
        font-size: 15px;
    }

    main section article {
        flex-grow: 0.25;
         
    }
    div.burguer-menu i {
        display: none;
    }

    footer {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    .pcopy {
        display: flex;
        position: absolute;
        top: 180px;
        left: 60px;
    }

    .iconoFooter:hover {
        color: darkgray;
    }

    .h4footer {
        font-size: small;
    }
    .pfooter {
        font-size: x-small;
    }
    
}